{:deps {com.pitch/uix.core {:mvn/version "1.0.1"}
        com.pitch/uix.dom {:mvn/version "1.0.1"}}
 :paths ["src"]
 :aliases {:examples {:extra-paths ["dev"]
                      :extra-deps {org.clojure/clojure {:mvn/version "1.11.1"}
                                   org.clojure/clojurescript {:mvn/version "1.11.60"}
                                   thheller/shadow-cljs {:mvn/version "2.23.1"}
                                   reagent/reagent {:mvn/version "1.2.0"}
                                   re-frame/re-frame {:mvn/version "1.4.2"}}}}}